#==============================================================================
# ■ .gitignore
#==============================================================================

# output files
*.lib
*.a
*.o
*.dylib
*.so
*.dll
*.exe
VMGS/VMGS

# personal configurations for paths etc.
*/build/windows_flags.txt
*/build/windows_libs.txt
windows_path.bat

# awesome data
output.log
VMGS/map.dat
