#==============================================================================
# ■ .gitattributes
#==============================================================================

lib/SOIL/include/* linguist-vendored
*.makefile linguist-language=Makefile
