#==============================================================================
# ■ .gitattributes
#==============================================================================

lib/SOIL/include/* linguist-vendored
