@charset "utf-8";

body {
	padding: .75em;
}

header > nav {
	@extend .game-style-text;
	$nav-item-background-color: rgba(0, 0, 0, .3);
	@mixin nav-item {
		text-decoration: none;
		padding: 0 .5em;
		outline: .1em solid currentcolor;
		@include game-style-border-decoration;
		background-color: $nav-item-background-color;
	}
	& > a, & > span {
		@include nav-item;
	}
	& > span {
		position: relative;
		cursor: default;
		&::after {
			content: "\23f7";
			margin-left: .2em;
			margin-right: -.2em;
		}
		& > ul {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			padding-left: 0;
			list-style: none;
			transform: translateY(-100%);
			clip-path: inset(calc(100% + .2em) -1em -1em -1em);
			li {
				margin-top: .4em;
			}
			a {
				display: inline-block;
				@include nav-item;
				width: 100%;
				@include game-style-text-shadow($sd, fade-in($shadow-color, .5));
				background-color: fade-in($nav-item-background-color, .3);
			}
		}
		&:hover > ul {
			transition: .05s linear;
			transition-property: transform, clip-path;
			transform: translateY(0);
			clip-path: inset(0 -1em -1em -1em);
		}
	}
	& > :first-child {
		font-weight: bold;
	}
}

.metadata {
	font-size: smaller;
	font-style: italic;
	color: gray;
}
