$font-family: "Source Code Pro", monospace;
$font-size: 18pt;
$sd: .1em;
$shadow-color: rgba(0, 0, 0, .3);

@mixin reset {
	margin: 0;
	padding: 0;
	font-family: $font-family;
	font-size: $font-size;
}

body, p, pre, tt, code, kbd, samp {
	@include reset;
}

h1, h2, h3, h4, h5, h6 {
	@include reset;
	margin-top: 1em;
}

kbd {
	outline: .1em solid currentcolor;
	box-shadow: 0 0 0 (2 * $sd) $shadow-color, inset 0 0 0 $sd $shadow-color;
}

body {
	font-family: $font-family;
	color: white;
	background-color: gray;
	background-image: linear-gradient(to right, dimgray, darkgray 10%, lightgray, darkgray 90%, dimgray);
	text-shadow:
		(-$sd) (-$sd) 0 $shadow-color,
		(-$sd) (+$sd) 0 $shadow-color,
		(+$sd) (-$sd) 0 $shadow-color,
		(+$sd) (+$sd) 0 $shadow-color;
}

::selection {
	color: white;
	background-color: black;
	text-shadow: none;
}

a {
	color: white;
	text-decoration: underline;
	&:visited {
		color: white;
	}
	&:active {
		color: yellow;
	}
}

ul {
	list-style-type: none;
	padding-left: 0;
	& > li {
		text-indent: -1em;
		margin-left: 1em;
		&::before {
			content: "* ";
		}
	}
}

header > nav {
	a {
		margin-left: 1em;
		&:first-child {
			margin-left: 0;
			font-weight: bold;
		}
	}
}

article {
	font-kerning: normal;
	font-variant-ligatures: normal;
}
