<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
		<link rel="stylesheet" href="{{ "/everything.css" | relative_url }}">
		<link rel="canonical" href="{{ page.url | replace: "index.html", "" | absolute_url }}">
	</head>
	<body>
		<header>
			<div class="wrapper"><!--
				<a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
				<nav class="site-nav">
					<span class="menu-icon"></span>
					<div class="trigger">
						{% for my_page in site.pages %}
							{% if my_page.title %}
							<a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</nav>
			--></div>
		</header>
		<main>
			<div class="wrapper">
				{{ content }}
			</div>
		</main>
		<footer>
			<div class="wrapper"><!--
				<h2 class="footer-heading">{{ site.title | escape }}</h2>
				<div class="footer-col-wrapper">
					<div class="footer-col footer-col-1">
						<ul class="contact-list">
							<li>
								{% if site.author %}
									{{ site.author | escape }}
								{% else %}
									{{ site.title | escape }}
								{% endif %}
								</li>
								{% if site.email %}
								<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
								{% endif %}
						</ul>
					</div>
					<div class="footer-col footer-col-3">
						<p>{{ site.description | escape }}</p>
					</div>
				</div>
			--></div>
		</footer>
	</body>
</html>
